.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-title {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}

main h2{
    text-align: center;
}

.imagen {
  width: 100%;     
  max-height: 200px;
  object-fit: cover; 

}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
}



.encabezado-container {
  
  background-image: url("img/fondo2.png");
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  color: white;
  text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black; /* Sombras en las 4 direcciones */

}

.encabezado-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.encabezado-izq,
.encabezado-centro,
.encabezado-der {
  flex: 1 1 300px;
  margin: 10px;
}

.foto-perfil {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* fondo para que se vean sobre imágenes claras */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 70% 70%;
}


.carousel-item img {
    max-height: 400px;
    object-fit: cover;
    width: auto;
}

.perfil-objetivo {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.perfil-objetivo > div {
  flex: 1 1 45%;
  box-sizing: border-box;
}

/* Responsive: cuando la pantalla es chica, se apilan */
@media (max-width: 768px) {
  .perfil-objetivo {
    flex-direction: column;
  }

  .perfil-objetivo > div {
    flex: 1 1 100%;
  }
}





/*Formacion */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.card-formacion {
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  height: 100%;
}

.card-formacion h3 {
  border-left: 4px solid #0d6efd;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.card-formacion ul {
  padding-left: 1rem;
  list-style: none;
  margin: 0;
}

.card-formacion li::before {
  content: "🎓";
  margin-right: 0.5rem;
}

.card-formacion li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
}
